.container-fluid
  = simple_form_for(@order, remote_form_options) do |f|
    = f.error_notification
    = f.error :base, :error_method => :to_sentence

    .form-inputs
      = f.input :name
      = f.input :customer, :as => :text
      = f.association :users, collection: User.all.map{|u| [u.name, u.id]}
      - received_at = Time.now.strftime("%d.%m.%Y %H:%M") if @order.id.nil?
      - received_at = @order.received_at.strftime("%d.%m.%Y %H:%M") unless @order.received_at.nil?
      - finished_at = @order.finished_at.strftime("%d.%m.%Y %H:%M") unless @order.finished_at.nil?
      - deadline_at = @order.deadline_at.strftime("%d.%m.%Y %H:%M") unless @order.deadline_at.nil?
      = f.input :received_at, as: :date_time_picker, input_html: {:value => received_at}
      = f.input :finished_at, as: :date_time_picker, input_html: {:value => finished_at} unless @order.id.nil?
      = f.input :deadline_at, as: :date_time_picker, input_html: {:value => deadline_at}
      - colors= [["Green","#7bd148"],
                ["Bold blue", "#5484ed"],
                ["Blue","#a4bdfc"],
                ["Turquoise","#46d6db"],
                ["Light green","#7ae7bf"],
                ["Bold green","#51b749"],
                ["Yellow","#fbd75b"],
                ["Orange","#ffb878"],
                ["Red","#ff887c"],
                ["Bold red","#dc2127"]]
      = f.input :color, collection: colors
      = f.input :invoiced unless @order.id.nil?
      = f.input :state, collection: %w{Nová Rozpracovaná Korektury Odloženo Dokončeno}, include_blank: false
      = f.input :spent_time unless @order.id.nil?
      = f.input :price
      = f.input :comment
      = f.input :description

    .form-actions.col-sm-7.col-sm-offset-5
      = f.button :submit

:javascript
  $( document ).ready(function() {
    $('.form_datetime').datetimepicker({format: 'DD.MM.YYYY HH:mm'});
    $('#order_color').simplecolorpicker()
    $('#order_user_ids').selectpicker()
  })
